<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Site</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>
    <input type="hidden" id="current_page" value="1">

    <div class="container-fluid">
      <div class="infinite-container">
        {{#each sites}}
          <div class="row">
            {{#each this}} 
            <div class="col-md-2">
                <div class="wrap_item" style="boder: 1px solid" item_id="{{ this._id }}">
                  <h4>{{ this.name }}</h4>
                  <span class="label label-info">{{ this.source }}</span><br><br>
                  <!-- <div style="witdh: 100%; height: 130px; background: gray;"></div> -->
                  <img class="img1" style="width: 100%" src="{{ this.cover }}" alt="{{ this.name }}"><br><br>
                  <div style="text-align: center;">
                  <span class="label label-info">{{ this.createdAt }}</span> <br><br>
                  <a href="{{ this.href}}" target="_blank">
                    <button class="btn btn-primary">Download</button>
                  </a>
                  </div>
                </div>              
            </div>
            {{/each}}
          </div>
        {{/each}}
        <div class="row">
            <div class="col-md-12">
              <div id="loadmoreajaxloader" style="display: none;"><center><img src="img/ajax-loader.gif" /></center></div>
            </div>
          </div>
      </div>
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
    <script type="text/javascript" src="js/zoomerang.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 

    <script>
      var zoomImage = function(){
        Zoomerang.config({maxHeight: 800, maxWidth: 800, bgOpacity: 0.85, bgColor: '#000'}).listen('.img1');
      };

      zoomImage();

      $(window).scroll(function()
      {
          if($(window).scrollTop() == $(document).height() - $(window).height())
          {
              $('div#loadmoreajaxloader').show();

              console.log('==> ', $('#current_page').val());

              $.ajax({
                url: "/get_site?next_page=" + $('#current_page').val(),
                dataType: 'json',
                success: function(response){
                  //update page number index
                  $('#current_page').val(response.start_page);

                  //render page
                  var html = "";
                  for(var i = 0; i < response.sites.length; i++){
                    html += '<div class="row">';

                    row = response.sites[i];
                    for(var j = 0; j < row.length; j++){
                      siteItem = row[j];
                      
                      html += '<div class="col-md-2">';
                      html += '<div class="wrap_item" style="boder: 1px solid" item_id="'+ siteItem._id + '">';
                      html += '<h4>' + siteItem.name + '</h4>';
                      html += '<span class="label label-info">' + siteItem.source + '</span><br><br>';
                      // html += '<div style="witdh: 100%; height: 130px; background: gray;"></div>';
                      html += '<img class="img1" style="width: 100%" src="' + siteItem.cover + '" alt="' +siteItem.name + '"><br><br>';
                      html += '<div style="text-align: center;">';               
                      html += '<span class="label label-info">' + siteItem.createdAt + '</span> <br><br>';       
                      html += '<a href="' + siteItem.href + '" target="_blank">';
                      html += '<button class="btn btn-primary">Download</button>';
                      html += '</a>';
                      html += '</div>';
                      html += '</div>';
                      html += '</div>';
                    }

                    html += '</div>';
                  }

                  $('div#loadmoreajaxloader').hide();
                  $('.infinite-container').append(html);    

                  zoomImage();             
                }
              });
          }
      });

    </script>
  </body>
</html>
